@use '../base/variables' as v;
@use '../base/mixins' as m;

.distribucion {
    &__grid {
        @include m.tablet { 
            @include m.grid(2, 5rem);
            align-items: center;
        }
    }
    &__imagen {
        padding-bottom: 5rem;
        @include m.tablet { 
            width: 100%;
        }
    }
    &__contenido {

        padding-right: 8rem;

        h2 {

            @include m.subrayado(v.$secundario, v.$primario);
            text-align: center;
            margin: 0;
            padding-bottom: 2rem;

            @include m.tablet { 
                text-align: start;
                padding-bottom: 0;
            }
        }
        p {
            line-height: 1.5;
            font-size: 2rem;
        }
        
    }
}