@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {

    background-color: v.$secundario;

    &__grid {
        border-bottom: 1px solid v.$primario;
        padding: 5rem 0 2rem 0;
    }

    &__imagen {
        max-width: 20rem;
        margin-bottom: 5rem;
        align-items: center;
    }

    &__contenido {

        h3 {
            color: v.$primario;
            text-align: left;
            padding: 1rem 0;

            &:last-child {
                padding-bottom: 3rem;
            }
        }
        a { 
            display: block;
            text-align: left;
            color: #fff;
            margin-bottom: 5px;
        }            
    }
    @include m.tablet {
        
        &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px solid v.$primario;

        &__contenido {
            margin-bottom: 0;
        }   

        h3 {
            color: v.$primario;
            text-align: left;
            padding: 0;
        }        
    }

    nav {
        a { 
            display: block;
            text-align: left;
            color: #fff;
            margin-bottom: 5px;
        }
    }

    }

    .copyright {

        p {
            margin: 0;
            padding: 1rem;
            font-size: 1.6rem;
            text-align: center;
            color: #fff;
        }
    }

}